*{
  font-family: 'Ubuntu';
}

body {
    font-family: 'Ubuntu';
    text-align: center;
  }
  
  .container-fluid {
    padding: 1% 15%;
  }
  
  .colored-section{
    background-color: #FAF3E0;
    color: #B22222;
  }
  
  .navbar{
    padding: 0 0 1rem;
  }
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    color: #B22222
  }
  .nav-item{
    padding: 0px 18px;
    text-align: right;  
  }
  .nav-link{
    font-family: "Ubuntu";
    font-size: 1.3rem;
    font-weight: 100;
    color: #B22222;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .nav-item{
    color: #B22222;
  }
  
.menu1 {
    margin: auto;
    margin-top: 100px;
    background-color: #fcecc2;
    box-shadow: 5px 6px 6px rgba(rgb(153, 229, 229), rgb(153, 229, 229), rgb(153, 229, 229), alpha);
    border-radius: 1.4rem;
    height: 70vh;
    width: 25vw;
    padding: 1em;
    text-align: center;
    align-items: center;    
}

.container{
  display: grid;
  Grid-template-columns: repeat(3, 1fr); /*số chữ "auto" = cột có kích thước như nhau */
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 25px; 
  grid-gap: 25px 10px;
  padding: 10px;
  border-radius: 10px;
}


.caption {
  background: #FDF5E6;
  color:#c20000 ;
  padding: 15px;
  border-radius: 8px; 
  margin-top: 50px;
  margin-bottom: -60px;
  text-align: center;
}
.menu-items{
  color: #B22222;  
  font-size: 1.5rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  padding-top:20px;
  padding-left: 500px;
}

.information{
  padding-top: 10px;
  padding-bottom: -2px;
}

.picture{
  border-radius: 1.4rem;
}

iframe {
  width: 100%;
  height: 100%;
}
footer {
  background-color: #FDF5E6;
  color: #B22222 ;
  display: flex;
  justify-content: space-evenly;
}

.container-footer{
  margin: auto;
  text-align: left;
}

.map{
  width: 500px;
  height: 350px;
}

.order{
  color: #FAF3E0;
}

.btn-add {
  background-color: #e53935;
  color: white;
}